__pycache__/
create_dataset/data/dist_map_hst.npy
create_dataset/data/dist_map_jvh.npy
create_dataset/data/HST_fits
create_dataset/data/JVH_PJimgs
create_dataset/data/NC
create_dataset/data/Segments
create_dataset/data/other
create_dataset/data/training_pairs
cycle*links
evaluation/models
evaluation/examples/GRS_TINY_data
mosaic/mosaic_example
postprocess/examples
postprocess/*.npy
postprocess/*.png
